{
  'presets': [
    'latest',
    'env',
    'flow',
    'react'
  ],
  'plugins': [
    'flow-react-proptypes',
    'transform-class-properties',
    'transform-object-rest-spread',
    'transform-decorators'
  ]
}
